<div class="home-container">
  <div class="aboutus-container">
    <h2>About Us</h2>
    <p>
      Hello we attend the advanced website and design class our group is composed of Immanuel Go, Brianna Soleno, and Julian Espinosa.
      This little webpage is about creating a way for users to store their book works.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis tortor eu enim dictum, finibus volutpat sapien vestibulum.
      Sed turpis mi, facilisis vel diam ut, mattis sodales mi. Donec purus erat, interdum non augue ut, finibus aliquam ipsum.
      Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas at lacus rutrum, iaculis
      nisl ac, fermentum dui. In nec tellus ac arcu lobortis ornare. Nulla condimentum ligula consectetur consectetur ultrices.
      Proin laoreet et lorem nec vestibulum. Duis ut dolor id tortor porttitor auctor et quis risus. Donec aliquam orci ut
      diam posuere congue. Aliquam sit amet libero nec sapien porta porta. Pellentesque habitant morbi tristique senectus
      et netus et malesuada fames ac turpis egestas.
    </p>
    <p>
      In ac pulvinar nulla. Nulla nec dapibus nunc. Integer lobortis ante vitae ex scelerisque tincidunt. Vestibulum aliquet molestie
      augue, eget suscipit enim pharetra at. Nunc at elit eu magna luctus tincidunt in tincidunt lectus. Morbi a leo sed
      ex gravida eleifend. Sed pretium accumsan justo, nec faucibus neque sollicitudin non. Phasellus accumsan mauris sit
      amet magna tincidunt fermentum. Sed aliquet felis turpis, nec dictum sem malesuada vel. Donec blandit erat sollicitudin,
      aliquam ante ac, finibus risus. Sed eget consequat enim. Phasellus viverra eget turpis non pulvinar.
    </p>
    Praesent a augue est. Curabitur elementum pulvinar dolor vitae lobortis. Morbi vulputate augue sit amet commodo pretium.
    Proin ac bibendum urna, ac suscipit velit. Maecenas sit amet massa est. Aliquam at quam non dolor dapibus dictum. Praesent
    luctus vitae justo vel blandit. Cras ut vehicula diam. Duis ornare orci ex, a imperdiet tellus vulputate quis. Quisque
    metus enim , volutpat vel velit nec, efficitur bibendum odio.
    <p>
      Aenean scelerisque ligula ac tortor feugiat maximus. Fusce faucibus imperdiet quam sed lobortis. Maecenas libero nunc, congue
      at sollicitudin vitae, cursus ac arcu. Aenean blandit congue orci eget sodales. Curabitur convallis porta ipsum maximus
      posuere. Quisque iaculis quam id metus feugiat gravida. Integer tincidunt turpis non leo venenatis, sit amet sagittis
      orci semper.
    </p>
  </div>
</div>