.aboutus-container {
    background-color: #f7f7f7;
    width:80%;
    height: 650px;
    align-self: center;
    justify-self: center;
    padding: 10vw 0 10vw;
  }

  .home-container {
    display:grid;
    grid-gap: 2em;
    margin: 30px auto;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    overflow: auto;
    background-color: #f7f7f7
  }

  .image {
    height: 150px;
    width: 200px;
    max-width: 100%;
    background-size: cover;
    min-width:100%;
    background-repeat:no-repeat;
  }